<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sc.mapper.EmpMapper">
    <select id="queryAll" resultType="com.sc.pojo.Emp">
        select * from emp
    </select>

    <select id="queryCondition" resultType="com.sc.pojo.Emp">
        select * from emp where 1=1
        <if test="emp_name != null">
            and emp_name like concat('%',#{emp_name},'%')
        </if>
        <if test="emp_sex != null">
            and emp_sex = #{emp_sex}
        </if>
    </select>
    <update id="update">
        update emp
        set emp_name    = #{emp_name},
            emp_sex     = #{emp_sex},
            emp_address = #{emp_address},
            emp_age     = #{emp_age},
            emp_salary  = #{emp_salary},
            emp_birth   = #{emp_birth},
            dept_id     = #{dept_id}
        where emp_id = #{emp_id}
    </update>

    <delete id="deleteById">
        delete from emp where emp_id = #{id}
    </delete>

    <insert id="add">
        insert into emp(emp_name, emp_sex, emp_address, emp_age, emp_salary, emp_birth, dept_id)
        values (#{emp_name}, #{emp_sex}, #{emp_address}, #{emp_age}, #{emp_salary}, #{emp_birth}, #{dept_id})
    </insert>
</mapper>